.wrapper{ 
    width: calc(25% - 30px);
    font-size: small;
    align-items: center;
    box-sizing: border-box;
    margin: 15px;
    
}

.imageWrapper{ 
    width: calc(100% - 20px);
    margin: 10px;
    height: 200px;
}
.imageWrapper > img{ 
    width: 100%;
}
.footer{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{ 
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.description{ 
    width: 100%;
    font-size: 15px;
    color: rgb(92, 99, 112);
    line-height: 20px;
    margin-bottom: 15px;
    display: -webkit-box;
    overflow: hidden;  
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 60px;
    
}